<!DOCTYPE html>
<html lang="en">

{{> headerlinks}}

<body>
    

    {{>navbar}}
    <!-- main body  -->

    <div class="container-fluid main_menu_body">
        <div class="row">
            <div class="col-md-10 col-12 m-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/4.png" class="img-fluid" alt="">
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span>MERN stack developer </span> and a Freelancer</h1>
                        <a href="/weather"><button>About ME</button></a>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->

    {{> footer}}
</body>

</html>